

.today-top-10 {
  font-family: "Rubik Doodle Shadow", cursive;
}

.today,
.top,
.ten {
  font-size: 60px;
  line-height: 1.2;
}

.swiper-button-next-custom2,
.swiper-button-prev-custom2 {
  color: white; /* SVG 색상 */
  position: absolute;
  top: 25%; /* 상단에 위치 */
  height: 103%; /* 전체 높이 차지 */
  width: 50px; /* 화살표가 차지할 너비 (원하는 대로 조정 가능) */
  display: flex; /* 중앙 정렬을 위해 flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  z-index: 3;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.swiper-button-prev-custom2,
.swiper-button-next-custom2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-custom2 {
  left: 0px;
}

.swiper-button-next-custom2 {
  right: 270px;
}

.swiper-button-next-custom2:hover,
.swiper-button-prev-custom2:hover {
  background-color: rgba(0, 0, 0, 0.5); /* hover 시 배경색 추가 */
}

.swiper-button-next-custom2:hover svg,
.swiper-button-prev-custom2:hover svg {
  color: white; /* hover 시 SVG 색상 변경 */
}

.movie-number {
  font-family: "Rubik Doodle Shadow", cursive;
  /* left: 10px;
  top: -40px; */
}
