/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Nanum Gothic", sans-serif;
}

:lang(en) {
  font-family: "Raleway", sans-serif;
}

:lang(ko) {
  font-family: "Nanum Gothic", sans-serif;
}

/* input의 자동 완성 시 배경색을 검정으로 유지 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
}
